<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="style.css">
<body>
    <body style="background-color: black;">
        <div class="whitecolor" class="centruje">

<center><h1>Zaloguj się</h1></center>


        </div>
    <br>
    <br>
    <br>
<div class="centruje" class="whitecolor " >

<br>
   <span style="background-color: white;"><label for="register">Nazwa Użytkownika:</label><br> <input type="register" name="Nazwa" id="register2" class="whitecolor"></span>
   <br>
   <span style="background-color: white;"><label for="register">Hasło:</label> <br> <input type="register" name="Hasło" id="register2"></span>

</div>
   
   
   <div class="remember centruje">
<input name="remember2" id="remember3" value="1" type="checkbox">

<span style="background-color: white;"><label for="remember">Pamiętaj mnie</label></span>
</div>
<div>
<br>
<div id="all" class="" class="oboksiebie" class="centruje" class="divWithButton class" >
<center><button class="registerbutton"  class="all">Zaloguj się</button></center>

</div>


   




</body>
</html>