<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MENU</title>
</head>
<link rel="stylesheet" href="style.css">
<body style="background-color: black;"></body>
<center><img src="https://img.myloview.pl/fototapety/litera-k-od-bialej-plecionych-paskow-na-czarnym-tle-szablon-godlo-logo-i-monogramy-160-70003697.jpg" alt="Girl in a jacket" width="93" height="93"></center>
<span style="color:white"><center><h1>MENU</h1></center></span>

   
    

    <div id="all" class="oboksiebie" class="centruje">
  
        <center><button  class="odsiebie" class="btn" class="all" onclick="window.location.href='settings.html'">SETTINGS</button></center>
        
        <center><button  class="odsiebie" class="btn" class="all" onclick="window.location.href='menu.html'">MENU</button></center>
        
        <center><button class="odsiebie"  class="btn" class="all" onclick="window.location.href='index.html'">HOME</button></center>
        
        <center><button class="odsiebie" class="btn" class="all" onclick="window.location.href='login.html'">LOGIN</button></center>
       </div>
</body>
</html>