<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SETTINGS</title>
</head>
<link rel="stylesheet" href="style.css">
<br>
<div>
    <center><img src="https://img.myloview.pl/fototapety/litera-k-od-bialej-plecionych-paskow-na-czarnym-tle-szablon-godlo-logo-i-monogramy-160-70003697.jpg" alt="Girl in a jacket" width="93" height="93"></center>
    <span style="color: white;"><center><h1>USTAWIENIA</h1></center></span>
<center><button class="btn" class="all" onclick="window.location.href='index.html'">HOME</button></center>
<body style="background-color: black;"

</div>

<div>
<span style="color: white;"><h2>Autor:Kacper</h2></span>
<a href="randomemail@o2.pl"><h2>email</h2></a>


</div>


</body>


</html>